{% extends 'accounts/base.html' %}
{% block content %}
    <div>
        <form action="" method="post" name="accounts_form">
            {{ csrf_tokens }}
            {{ form }}
            <input type="submit" value="LogIn">
        </form>
    </div>
{% endblock %}
